<!DOCTYPE html>
<html lang="en">
  
<head>
    <link rel="stylesheet" href="/public/headerandnavbar.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/page/pagegetdisasternew.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="/public/headerandnavbar.js"></script>
   
</head>

<body>
  
   <div class="container-fluid">
    <%- include('../path/header.ejs') %>


 <div  id="mainContainer" class="row">

      <div class="col-3">
         <%- include('../path/navbar.ejs') %>

      </div>
      <div id="crateaMainContainer"  class="col-9">
         <div class="row"  >
            <div style="color:black" class="col-12">
                <%
                if(message){%>
                    <div id="messageAlert" class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                       <button id="hideMessageAlert" class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"> </button>
                       <strong><%= message.message %></strong>
                   </div>
                     
                <%}
                %>
                <script>
                $(document).ready(function(){
    $("#hideMessageAlert").click(function(){
      $("#messageAlert").toggle();
    });
  });
            </script>
              

               <div class="container-lg">
                  <div class="table-responsive">
                      <div class="table-wrapper">
                          <div class="table-title">
                              <div class="row">
                                  <div class="col-sm-8"><h2>New Disaster</h2></div>
                                  <div class="col-sm-4">
                                    
                                      
                                      <a href="/todos/postnewdisaster" type="button" class="btn btn-info add-new" ><i class="fa fa-plus"></i> Add New</a>
                                  </div>
                              </div>
                          </div>
                     
                          <% if (items!='') { %>
                        <table class="table table-bordered">
                              <thead>
                                  <tr>
                                    <th>Id</th>
                                      <th>icon</th>
                                      <th>Title</th>
                                      <th>Region</th>
                                      <th>Disaster</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <%
                               items.forEach((row,index)=>{%>
                               
                                <tr>
                                      <td><%=index+skip%></td>
                                      <td><img class="icon" style="height: 50px;width: 50px;background-color: aqua;" src="http://localhost:1513/upload/<%=row.icon%>"alt="Description for img " /></td>
                                      <td><%=row.title%></td>
                                       <td><%=row.region%></td>
                                       <td><%=row.disaster%></td>
                                       <th><%=row.status%></th>
                                      <td>
                                         
                                          <a href="/todos/updatenewdisaster/<%= row._id %>" class="edit" title="Edit" data-toggle="tooltip">Update</a>
                                          <a href="/todos/deletenewdisaster/<%=row._id%>" title="Delete" data-toggle="tooltip">Delete</a>
                                      </td>
                                  </tr>


                                <%})
                               %>
                                
                      
                              </tbody>
                          </table>
<% } else { %>
    <h1 class="text-center text-secondary mt-5">No News find in the database</h1>
<% } %>





              
<div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>">Trang trước</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>">Trang sau</a>
        <% } %>
    </div>


                      </div>
                  </div>
              </div>  


            </div>
         </div>
      </div>
 
 </div>

   </div>
</body>
</html>